body{
    font-family: 'Poppins', sans-serif;
}

.bigger_heading{
    font-size: 50px;
}

.orange_text{
    color: orange;
}

.flexible_alignment{
    display: flex;
}

.half_width{
    width: 50%;
    padding: 5%;
}

.half_width img{
    width: 95%;
}

.my_button{
    text-decoration: none;
    background-image: linear-gradient(red,orange);
    padding: 20px 50px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
    font-weight: 900;
}

.bg_image{
    background-image: url(images/sec2bg.jpg);
    background-repeat: no-repeat;
}

section{
    margin-bottom: 30px;
}

.centered_text{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
}

.one_third_width{
    margin:2%;
    width: 33%;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.one_third_width img{
    width: 100%;
}

.new_one_third_width{
    margin:2%;
    width: 33%;
    padding: 1% 3%;
    text-align: center;
}

.block_design{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    margin: 20px;
}

footer{
    text-align: center;
    background-image: linear-gradient(black,Navy);
    padding: 30px;
    color: white;
}

.header{
    text-align: center;
    font-size: 60px;
    background-image: linear-gradient(gray,tomato);
}